@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    overflow: auto;
    padding-bottom: 0;
    margin: 0;
    background: #DBF6FF;
    background: linear-gradient(to bottom right, #2399EB, #DBF6FF);
}

.light-blue {
    color: #2399EB;
}

.dark-blue {
    color: #16017B;
}

.green {
    background: #7BDA55;
}

.red {
    background: #EE786E;
}

.yellow {
    background: #DDDB4C;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.header {
    position: absolute;
    height: 60px;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    background-color: #16017B;
    z-index: 4;
}

.header i {
    color: white; 
    font-size: 30px;
}

.header h3 {
    color: white;
    margin: 4px auto;
}


.logo {
    display: none;
}

.side-menu {
    position: fixed;
    width: 100%;
    background-color: #16017B;
    z-index: 3;
    padding-top: 60px;

    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);

    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.header:hover .side-menu{
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.menu:hover .side-menu{
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    padding: 0;
    border-bottom: 1px solid #0F0147;
}

.side-menu ul li:hover {
    background-color: #0F0147;
    border-left: 5px solid #2399EB;
}

.side-menu ul li:hover a {
    color: #2399EB;
}

.side-menu ul li a {
    display: block;
    padding: 20px 10px;
    color: #FFF;
    text-decoration: none;
    font-weight: 100;
    transition: all 0.3s ease-in-out;
}

.active {
    background-color: #0F0147;
    color: #2399EB;
}

.side-menu ul li i {
    color: #2399EB;
    padding-right: 10px;
}

.main-content {
    padding: 60px 20px;
    height: 100%;
}

.main-content h1 {
    font-weight: 100;
    font-size: 20px;
}

.pageLabel {
    width: 100%;
    background: #16017B;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 0;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,.1);
}

.pageLabel h1 {
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    background: #16017B;
    color: #FFFFFF;
    border-radius: 10px 0 0 10px;
}

.pageLabel h3 {
    display: inline-block;
    margin: 0;
    padding: 19px 5px 12px 10px;
    border-bottom: 4px solid #16017B;
    font-size: 15px;
    font-weight: 100;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.pageLabel > .active {
    border-bottom: 4px solid #0F0147;
    color: white;
}

.pageLabel h3:hover {
    background: #16017B;
    color: #2399EB;
    border-bottom: 4px solid #2399EB;
}

.pageLabel button {
    position: absolute;
    right: 20px;
    margin-top: 10px;
    padding: 7px 20px;
}

.pageLabel input {
    background: #FFFFFF;
    border-radius: 25px;
    padding: 8px 20px;
    font-size: 13px;
    border: 2px solid #2399EB;
    position: absolute;
    right: 40px;
    top: 140px;
}

.no-content {
    text-align: center;
    margin: 30px auto;
    font-size: 12px
}

.none {
    display: none;
}

.error {
    text-align: center;
    color: #FFFFFF;
}

.error h1 {
    font-size: 250px;
    opacity: 0;
    padding: 200px 0 0 0;
    margin: 0;

    animation: fadein 0.8s ease-out 1s forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.2;
    }
}

.error h2 {
    padding: 0;
    margin: 0;

    animation: slideDown 0.5s ease-out 0.5s forwards;
    transform: translateY(-200px);
    opacity: 0;
}

@keyframes slideDown {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.error h3 {
    animation: slideUp 0.5s ease-out 0.5s forwards;
    transform: translateY(200px);
    opacity: 0;
}

@keyframes slideUp {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DBF6FF;
}

.loader {
    left: 50%;
    top: 50%;
    z-index: 1000;
    position: absolute;
}

button {
    padding: 10px 20px;
    background: linear-gradient(to right, #16017B 0%, #2399EB 100%);
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    white-space: nowrap;
}


button:hover:not([disabled]) {
    background: linear-gradient(to right, #16017B 50%, #2399EB 100%);
}

button:disabled {
    opacity: 0.5;
    cursor: context-menu;
}

button:focus {
    outline:0;
}

.add-btn {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 0;
    border-radius: 25px 0 0 25px;
    padding: 14px 12px;
    font-size: 20px;
    font-weight: 100;
    width: 55px;
    transition: width .5s ease-in;
}

.add-btn:hover {
    border-radius: 25px 0 0 25px;
    overflow: hidden;
    transition: width .5s ease-in;
}

.filter-btn {
    position: absolute;
    z-index: 1;
    top: 235px;
    right: -81px;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 100;
    width: 200px !important;
    transform: rotate(270deg);
    background: linear-gradient(to right, #535353, #e7e9e9);
}

.filter-btn:hover:not([disabled]) {
    background: linear-gradient(to right, #1f1f1f, #868686);
}

.workout .add-btn:hover {
    width: 180px;
}

.workout-details .add-btn:hover {
    width: 300px;
}

.exercise .add-btn:hover {
    width: 200px;
}

.meal .add-btn:hover {
    width: 150px;
}

.add-btn:before {
    content: '';
    opacity: 0;
    font-size: 15px;
}

.add-btn:hover:before {
    border-radius: 25px;
    opacity: 1;
}

.workout .add-btn:hover:before {
    content: 'Add a workout \00a0';
}

.workout-details .add-btn:hover:before {
    content: 'Add exercises to workout \00a0';
}

.exercise button.add-btn:hover:before {
    content: 'Add an exercise \00a0';
}

.meal button.add-btn:hover:before {
    content: 'Add a meal \00a0';
}

table {
    background-color: white;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,.1);
}

.diet {
    width: 100%;
}

table, td, th {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: rgba(233, 233, 233, 0.973);
}

.diet .summary-row {
    background-color:#FFFFFF;
    border-top: 2px solid rgba(21, 1, 121, 0.973);
}

th {
    color: white;
    background-color: #0F0147;
    padding: 10px 5px;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}

td {
    color: rgb(53, 53, 53);
    font-weight: 100;
    font-size: 11px;
    padding: 10px 10px;
    text-align: center;
    max-width: 300px;
}

td button {
    padding: 6px 2px;
    margin-right: 5px;
    border-radius: 5px;
    width: 25px;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,.1);
}

.handleLogSet {
    background: transparent;
    font-size: 20px;
    padding: 5px;
}

.handleLogSet:hover {
    color: #2399EB;
}

.action-group {
    min-width: 150px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.sign-in,
.sign-up {
    display: flex;
    height: 100%;
    padding: 100px 20px;
    justify-content: center;
}

.sign-in-container,
.sign-up-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

.sign-in-container,
.sign-up-container {
    min-width: 400px;
}

.sign-up-container {
    min-width: 500px;
}

.sign-in-image,
.sign-up-image {
    display: none;
}

.sign-in-image svg,
.sign-up-image svg {
    width: 100%;
}

form a {
    color: gray;
    text-decoration: none;
    width: 100%;
}

form a:hover {
    color: #0F0147;
}

form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #0F0147;
}


.inputs {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 25px 0;
    padding: 5px 0;
}


.inputs.email {
    margin-top: 0;
}

.inputs.pass {
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: gray;
}

.inputs:focus-within i{
    color: #0F0147;
}

.inputs.focus i{
    color: #0F0147;
}

.inputs:focus-within h5 {
    position: absolute;
    top: -25px;
    font-size: 15px;
    color: #0F0147;
    background-color: white;
    padding: 0 5px;
    z-index: 20;
}

.inputs.focus h5 {
    top: -25px;
    font-size: 15px;
    color: #0F0147;
    background-color: white;
    padding: 0 5px;
    z-index: 20;
}

.inputs > div {
    position: relative;
    height: 45px;
}

.inputs > div h5 {
    position: absolute;
    left: 10px;
    top: -7px;
    transform: translateY(-50%);
    color: gray;
    font-size: 17px;
    font-weight: 100;
    transition: 0.3s;
}

.input-calendar {
    display: grid;
    grid-template-columns: 10% 90%;
}

.input-calendar i {
    color: #16017B;
}

.input-calendar > div {
    position: relative;
    height: 45px;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

.input-group .day,
.input-group .month {
    padding-right: 10px;
}

.day h5,
.month h5,
.year h5 {
    all: unset;
    position: absolute;
    background: white;
    font-size: 15px;
    color: #0F0147;
    width: fit-content;
    top: -10px;
    margin-left: 10px;
    padding: 0 5px;
}

.input-group select {
    text-align: center;
    height: 45px;
}

textarea {
    width: 100%;
    top: 0;
    left: 0;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    color: #0F0147;
}

input[type=text],
input[type=password],
input[type=number] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    color: #0F0147;
}

input[type=text]:focus-within,
input[type=password]:focus-within,
input[type=number]:focus-within,
textarea {
    border: 1px solid #0F0147;
}

.focus input[type=text],
.focus input[type=password],
.focus input[type=number] {
    border: 1px solid #0F0147;
}

input[type=button] {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin-top: 1rem; 
    font-size: 1.2rem;
    outline: none;
    border: none;
    background: linear-gradient(to right, #16017B, #2399EB);
    cursor: pointer;
    color: white;
    background-size: 200%;
}

form input[type=button] {
    width: 75%;
    margin: 0 auto;
}

input[type=button]:hover:not([disabled]) {
    transition: 0.3s;
    background-position: right;
}

input[type=button]:disabled {
    opacity: 0.5;
    cursor: context-menu;
}

.fas-project-diagram {
    font-size: 10px;
}

.error-message {
    color: red;
    margin: 10px 0;

}

.modal:before {
    content: "";
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.modal:target .modal-container {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.modal:target::before {
    display: block;
}

.modal-show {
    content: "";
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
}

.modal-show .modal-container {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.modal-container {
    position: fixed;
    z-index: 11;
    background-color: white;
    border-radius: 15px;
    top: 100px;
    left: 50%;
    width: 400px;
    align-items: center;
    text-align: center;
    padding: 20px 40px;

    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);

    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.5s ease-out;
}

.modal-container .fa-times {
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 20px;
}

.modal-container h2 {
    margin-bottom: 20px;
}

.modal-container a {
    text-decoration: none;
    color: black;
}

.modal-container a:hover {
    color: #2399EB;
}

.modal-container input[type=button] {
    width: 70%;
    margin: 10px auto;
}

#filter .modal-container {
    text-align: left;
    padding-left: 5px;
}

.modal-option {
    width: 100%;
    text-align: left;
    padding: 10px;
    color: #16017B;
    background: transparent;
    border-radius: 0px;
    margin-bottom: 5px;
}

.modal-option:hover:not([disabled]) {
    background: linear-gradient(to right, #888888 0%, #a8a8a8 100%);
    color: #FFF;
}

.modal-option div {
    float: left;
}

.modal-option i {
    float: right;
    top: 6px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
}

.align-items {
    align-items: center;
}
.card {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    margin: 0 5px 5px 0;
    position: relative;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,.1);
}

.home .card {
    padding: 0;
    margin: 5px;
    height: 115px;
}

.card .image {
    position: absolute;
    width: 20%;
    height: 100%;
    overflow: hidden;
    border-radius: 9px 0 0 9px;
    text-align: center;
}

.card .general {
    position: absolute;
    left: 20%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 9px 9px 0;
    padding: 20px 15px;
}

.card .general h3 {
    margin: 5px 0;
}

.card .general h4 {
    color: rgb(110, 110, 110);
    text-transform: none;
}

.card .image i {
    font-size: 30px;
    color: white;
    margin: 35px 0;
}

.card-info {
    margin-bottom: 50px;
}

.meal-card-info {
    display: grid; 
    grid-template-columns: 50% 50%;
}

.meal-card-info h5 {
    margin: 10px 0;
}

.card h4 {
    text-transform: uppercase;
    font-weight: 700;
    color: #16017B;
    margin: 5px 0;
}

.card h4.category {
    color: rgb(110, 110, 110);
}

.card h5 {
    font-weight: 100;
    text-align: justify;
    color: rgb(110, 110, 110);
}

.card-buttons {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.card-buttons button {
    margin-left: 5px;
}

section {
    background: linear-gradient(to right, #d8d8d8, #F0F0F0);
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,.1);
}

section h3 {
    font-size: 13px;
    color: #000000;
    font-weight: 100;
}

#show-more {
    padding: 10px;
    text-align: center;
}

.meal-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.meal-card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    margin: 10px 20px 10px 0;
    align-items: center;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,.1);
    animation: emerge .5s linear;
}

.meal-card  h6 {
    font-size: 15px;
    font-weight: 100;
    flex-basis: 80%;
    margin: 0;
}

.meal-card button {
    border-radius: 10px;
    font-size: 10px;
    font-weight: 100;
    height: auto;
    width: auto;
    padding: 8px 10px;
}

.macro-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.macro-name {
    font-weight:600;
    text-align: right;
    margin-right: 5px;
    padding: 5px 0;
}

.macro-value {
    margin-left: 5px;
    text-align: left;
    padding: 5px 0;
}

.macro-summary input[type="number"] {
    all: unset;
    width: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
}

.macro-portion {
    display: flex;
    padding: 5px 0;
}

.exercise-details {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
}

.exercise-details h4 {
    font-size: 18px;
}

.exercise-details h5 {
    font-size: 15px;
}

.table-with-filter {
    display: flex;
}

.table-content {
    flex-grow: 1;
}

.table-content > table {
    width: 90%;
    margin-left: 0;
}

.table-content th:nth-child(2),
.table-content td:nth-child(2) {
    width: 40%;
}


.filter {
    display: none;
    z-index: 10;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    min-width: 365px;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,.1);
}

.filter > .filter-title {
    padding: 17px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(233, 233, 233, 0.973);
    font-weight: 600;
    font-size: 18px;
    color: rgb(53, 53, 53);
}

hr {
    border-top: 1px solid rgba(233, 233, 233, 0.973);
    width: 100%;
    margin: 0;
}

.filter-content {
    padding: 10px 20px;
    width: 100%;
}

.filter-content > ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.filter-content > ul li {
    list-style: none;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid rgba(233, 233, 233, 0.973);
}

.filter-content > ul li:last-child {
    border-bottom: none;
}

.filter-content > ul li label {
    font-size: 18px;
    padding-left: 30px;
    cursor: pointer;
}

.filter-content > ul li label input {
    opacity: 0;
    cursor: pointer;

}

.filter-content > ul li label .check {
    position: absolute;
    top: 7px;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(233, 233, 233, 0.973);
    display: block;
    box-sizing: border-box;
    border: 2px solid rgba(233, 233, 233, 0.973);
    border-radius: 4px;
}

.filter-content > ul li label .check:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    background-color: rgba(213, 213, 213, 0.973);
    border-radius: 2px;
    transition: 0.5s;
    transform: translateX(300px);
}

.filter-content > ul li label input:checked ~ .check:before {
    background: linear-gradient(to top left, #00ccff 0%, #0099ff 100%);
    box-shadow: 0 0 15px #3399ff;
    transform: translateX(0);
}

.center-content {
    width: 100%;
    text-align: center;
}

.expandable {
    overflow: hidden;
    margin: 10px 0;
}

.hide {
    margin-top: -100%;
    opacity: 0;
    transition: all 1s;
}

.show {
    margin-top: 0;
    opacity: 1;
    transition: all 0.5s;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #0F0147;
    border-radius: 5px;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    -webkit-appearance: none;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
}

option {
    padding: 5px;
}

option:selected {
    background-color: #16017B;
    color: white;
}

.logs-form {
    display: flex;
    background: white;
    border-radius: 10px;
    width: 100%;
    margin: 0px auto;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,.1);
}

.logs-form .inputs {
    flex: 2;
    margin: 0;
    padding-right: 10px;
    grid-template-columns: 15% 85%;
    text-align: center;
}


.logs-form .inputs i {
    margin: 0;
}

.exercise {
    padding: 10px;
}

.submit-box {
    flex: 1;
    margin-top: 7px;
    margin-left: 10px;
    text-align: center;
}

.chart {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin: 10px auto;
}

canvas {
    width: 100%;
    height: auto;
}

.profile {
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 10px auto;
    width: 90%;
    align-items: center;
}

.profile-main {
    flex-basis: 300px;
}

.profile-main img {
    border-radius: 50%;
    width: 100px;
}

.profile-main h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 5px;
}

.profile-main h4 {
    text-align: center;
    font-size: 13px;
    font-weight: 100;
    color: grey;
    margin-top: 5px;
}

.profile-details {
    margin: 20px 10px;
    min-width: 200px;
}

.profile-details .section-label {
    width: 100%;
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
    padding: 5px;
    font-size: 13px;
}

.profile-details .user-info {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding: 10px;
    font-size: 11px;
}

.profile-details .item-label {
    font-weight: 600;
    margin-bottom: 10px;
}

.profile-details .item-content {
    text-align: right;
}

.wrapper {
    background: #FFFFFF;
    box-shadow: 0 9px 18px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    margin: 5px;
}

.wrapper h3 {
    text-align: center;
    padding: 20px;
    margin: 0;
}

.progress-container {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-items: center;
}

.progress-container label {
    text-align: center;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 90%;
}

.progress-percentage {
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease .1s;
}

.slider-container {
    display: grid;
    margin: 40px 0;
    grid-gap: 30px 0;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-items: baseline;
}

.language-section {
    display: none;
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.language-section > button {
    padding: 10px;
    border-radius: 10px;
    background: #0F0147;
    margin: 5px;
}

.language-section > label {
    display: none;
}

.language-section > .focus {
    background: #3399ff;
}

.language-section > button:focus,
.language-section > button:hover {
    background: #3399ff;
}

.error-btn {
    background: linear-gradient(to top left, #ff3300 0%, #ff6600 100%);
}

.error-btn:hover {
    background: linear-gradient(to bottom right, #ff3300 0%, #ff0000 100%) !important;
}

.secondary-btn {
    background: linear-gradient(to top left, #999898 0%, #7c7c7b 100%);
}

.secondary-btn:hover {
    background: linear-gradient(to top left, #8a8a8a 0%, #5c5c5b 100%) !important;
}

.details-btn {
    background: linear-gradient(to top left, #00ccff 0%, #0099ff 100%);
}

.details-btn:hover {
    background: linear-gradient(to bottom right, #0099ff 0%, #3399ff 100%) !important;
}

.update-btn {
    background: linear-gradient(to top left, #009933 0%, #33cc33 100%);
}

.update-btn:hover {
    background: linear-gradient(to bottom right, #003300 0%, #009933 100%) !important;
}

.protein {
    color: #3399ff !important;
}

.carbs {
    color: #F2709C !important;
}

.fat {
    color: #009933 !important;
}

@media screen and (min-width: 600px) {

    .header {
        display: none;
    }

    .logo {
        display: none;
    }

    .side-menu {
        width: 80px;
        height: 100vh;
        display: block;

        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .side-menu ul li {
        text-align: center;
    }

    .side-menu ul li span:nth-child(2) {
        display: none;
    }

    .side-menu ul li i {
        font-size: 26px;
    }

    .main-content {
        margin-left: 80px;
        padding: 20px 20px;
    }

    .main-content h1 {
        font-size: 30px;
    }

    .error h1 {
        font-size: 200px;
    }

    .no-content {
        margin: 30px auto;
        font-size: 16px
    }

    table {
        width: 100%;
    }

    th {
        padding: 20px 15px;
        font-size: 15px;
    }
    
    td {
        padding: 10px 10px;
        font-size: 14px;
        max-width: 300px;
    }

    button {
        padding: 9px 25px;
        font-size: 14px;
    }
    
    button > i.fa-pen, i.fa-info, i.fa-times {
        font-size: 20px;
    }

    td button {
        width: 30px;
    }

    .pageLabel {
        margin-top: 0;
    }
    
    .pageLabel h3 {
        padding: 28px 10px 14px 15px;
        border-bottom: 5px solid #16017B;
        font-size: 17px;
    }

    .pageLabel > .active {
        border-bottom: 5px solid #0F0147;
    }
    
    .pageLabel h3:hover {
        border-bottom: 5px solid #2399EB;
    }

    .pageLabel button {
        position: absolute;
        right: 25px;
        margin-top: 20px;
        padding: 9px 25px;
    }

    .pageLabel input {
        padding: 10px 20px;
        font-size: 15px;
        border: 3px solid #2399EB;
        right: 40px;
        top: 31px;
    }

    .sign-in-container {
        width: 450px;
    }

    .modal-container {
        margin-left: 40px;
        width: 500px;
        padding: 30px;
    }

    .modal-container .fa-times {
        right: 25px;
        margin-top: 15px;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
    }

    .exercise .card-container,
    .workout .card-container {
        grid-template-columns: 1fr;
    }

    .meal-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .meal-card {
        padding: 10px;
    }

    .meal-card button {
        font-size: 15px;
        padding: 10px 12px;
    }

    .exercise-details {
        width: 80%;
        margin: 20px auto;
    }
    
    .exercise-details h4 {
        font-size: 22px;
    }
    
    .exercise-details h5 {
        font-size: 18px;
    }

    .exercise-details th {
        padding: 10px;
    }

    section h3 {
        font-size: 18px;
    }

    .table-content > table {
        width: 95%;
        margin-left: 0;
    }

    .table-content th:nth-child(2),
    .table-content td:nth-child(2) {
        width: 45%;
    }

    .table-content th {
        padding: 15px 5px;
        font-size: 14px;
    }

    .table-content td {
        padding: 5px 3px;
        font-size: 13px;
    }

    .filter-btn {
        display: block;
        top: 187px;
        right: -81px;
        padding: 10px 12px;
        font-size: 16px;
        width: 55px;
    }

    .filter {
        display: none;
    }

    .logs-form .inputs {
        flex: 2;
        margin-right: 10px;
        grid-template-columns: 15% 85%;
    }
    
    .submit-box {
       margin-top: 8px;
    }
    
    .chart,
    .profile {
        width: 90%;
    }

    .profile-main img {
        border-radius: 50%;
        width: 150px;
    }
    
    .profile-main h3 {
        font-size: 15px;
    }
    
    .profile-main h4 {
        font-size: 14px;
    }
    
    .profile-details {
        min-width: 270px;
    }
    
    .profile-details .section-label {
        font-size: 15px;
    }
    
    .profile-details .user-info {
        font-size: 13px;
    }

    .wrapper {
        grid-column: 1 / 3;
    }

    .language-section {
        display: block;
    }
}

@media screen and (min-width: 750px) {

    .filter {
        display: block;
        position: relative;
        min-width: 210px;
    }

    .filter > .filter-title {
        font-size: 16px;
        padding: 15px;
    }

    .filter-content {
        padding: 10px 15px;
    }

    .filter-content h4 {
        font-size: 15px;
        margin: 8px 0;
    }

    .filter-content > ul li label {
        font-size: 13px;
        padding-left: 30px;
    }

    .filter-content > ul li label .check:before {
        transform: translateX(150px);
    }

    .filter-btn {
        display: none;
    }

    .profile-details {
        margin: 20px 10px;
        min-width: 350px;
    }
}

@media screen and (min-width: 1200px) {

    .header {
        display: none;
    }

    .logo {
        color: #FFFFFF;
        display: block;
        width: 50%;
        font-size: 25px;
        font-weight: 500;
        margin: auto;
    }

    nav {
        margin-top: 10px;
    }

    .side-menu {
        width: 280px;
        height: 100vh;
    }

    .side-menu ul li {
        text-align: left;
    }

    .side-menu ul li span:nth-child(2) {
        display: inline;
    }

    .side-menu ul li a {
        padding-left: 15px;
    }

    .fas {
        margin-right: 0.8rem;
        display: inline-block;
        width: 30px;
        position: relative;
        top: 2px;
    }

    .main-content {
        margin-left: 300px;
        padding-top: 20px;
    }
    
    .pageLabel h1 {
        padding: 15px 20px;
    }
    
    .pageLabel h3 {
        font-size: 19px;
        padding: 26px 15px 13px 20px;
    }

    .sign-in {
        padding: 20px;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .sign-in-container,
    .sign-up-container {
        margin-right: 100px;
        align-self: center;
    }
    
    .sign-in-image,
    .sign-up-image {
        display: block;
        align-self: center;
    }

    .no-content {
        margin: 50px auto;
        font-size: 18px
    }

    table {
        width: 70%;
    }

    th {
        padding: 20px 15px;
    }
    
    td {
        padding: 10px 10px;
        max-width: 300px;
    }

    td button {
        width: 40px;
    }
    
    .info-column {
        min-width: 500px;
    }

    button > i.fas {
        margin: 0;
    }

    .loader-container {
        left: 100px;
    }

    .modal-container {
        margin-left: 150px;
        width: 500px;
    }

    .card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .exercise .card-container,
    .workout .card-container {
        grid-template-columns: 1fr 1fr;
    }

    .meal-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .meal-card button {
        font-size: 20px;
        padding: 10px 7px;
    }

    .exercise-details {
        width: 70%;
        margin: 30px auto;
        padding: 25px 50px 10px 50px;
    }
    
    .exercise-details h4 {
        font-size: 25px;
    }
    
    .exercise-details h5 {
        font-size: 20px;
    }

    .table-content > table {
        width: 95%;
        margin-left: 0;
    }

    .table-content th:nth-child(2),
    .table-content td:nth-child(2) {
        width: 40%;
    }

    .table-content th {
        padding: 25px 5px;
        font-size: 16px;
    }

    .table-content td {
        padding: 10px;
        font-size: 14px;
    }

    .filter {
        flex-basis: 365px;
        min-width: 365px;
    }

    .filter > .filter-title {
        font-size: 16px;
        padding: 25px;
    }

    .filter-content {
        padding: 10px 25px;
    }

    .filter-content h4 {
        margin: 10px 0;
    }

    .filter-content > ul li label {
        font-size: 15px;
        padding-left: 30px;
    }

    .filter-content > ul li label .check:before {
        transform: translateX(300px);
    }

    .modal-option i {
        float: right;
        font-size: 15px;
        top: 2px;
    }

    .logs-form .inputs {
        flex: 2;
        margin-right: 10px;
        grid-template-columns: 20% 80%;
    }

    .logs-form .inputs i {
        margin: 0;
    }

    .submit-box {
       flex: 1;
       margin-top: 8px;
    }

    .profile,
    .chart,
    .profile-details,
    .logs-form {
        width: 70%;
    }

    .profile-main img {
        border-radius: 50%;
        width: 250px;
    }
    
    .profile-main h3 {
        font-size: 17px;
    }
    
    .profile-main h4 {
        font-size: 16px;
    }
    
    .profile-details .section-label {
        font-size: 18px;
    }
    
    .profile-details .user-info {
        font-size: 15px;
    }

    .wrapper {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .language-section > label {
        display: contents;
    }
}